.lineChartContainer {
    display: flex;
    flex-direction: column;
    background-color: rgba(69, 69, 69, 0.12);
    padding: 24px;
    height: 50%;
    border-radius: 10px;
    border: 1px solid rgba(92, 92, 92, 0.12);
    .lineChartHeader {
        .icon {
            padding: 10px;
            margin-right: 7px;
            background-color: rgba(138, 138, 138, 0.3);
            border-radius: 10px;
        }
        color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        font-size: 24px;
        padding: 10px 0;
    }
    .chartContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        max-width: 650px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1240px) {
    .lineChartContainer {
        height: 100%;
        width: 100%;
    }
}